.root {
}
.a {
  color: #212020;
  text-decoration-line: none;
}
.container {
  &:hover {
    background-color: #a8a1a1;
    padding: 0.3rem;
    border: 0px solid black;
    border-radius: 0.5rem;
  }
}
