.root {
}
.h2 {
  text-align: center;
  font-size: 60px;
  margin: 4rem 0rem 0rem;
  align-self: center;
  letter-spacing: 4px;
}
.h4 {
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  font-size: 30px;
  align-self: center;
}
.p {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  flex-direction: row;
  width: 65rem;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.btn {
  height: 3rem;
  border: 0px solid black;
  border-radius: 4rem;
  background-color: #dad6d6;
  color: #3c3939;
  margin: 2rem;
  font-size: 15px;
  width: 9rem;
  &:hover {
    background-color: #171616;
    color: #fbfbfb;
  }
}
.lm {
  background-color: #ffffff;
  color: #171616;
  width: 9rem;
  height: 3rem;
  border-radius: 4rem;
  font-size: 15px;
  &:hover {
    background-color: #343232;
    color: #e2dada;
  }
  border: 1px solid black;
}
.btn_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}
.dyk_container {
  background-color: rgba(240, 240, 240, 0.3);
  height: auto;
}
.dyk_item_image {
  width: 20rem;
  padding-bottom: 0rem;
  border: 0px solid black;
  border-radius: 1rem;
  box-shadow: 2.12px 2.12px 6px black;
}
.dyk_content {
  padding: 1rem;
  display: grid;
  gap: 1em;
}
.dyk_article {
  text-align: center;
  height: auto;
  border: 0px solid black;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #dad6d6;
  width: 55rem;
  margin-left: 0rem;
  margin-right: 1rem;
  box-shadow: 2.83px 2.83px 7px black;
}
.dyk_items {
  display: flex;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  gap: 20em;
  justify-content: center;
}
.h3 {
  text-align: center;
}
.image_container {
  border-radius: 0rem;
  border: 0px solid black;
  padding: 1rem;
  width: 0rem;
  margin-left: 1rem;
}
.ai {
  border-radius: 1rem;
  width: 20rem;
}
.h3 {
  text-align: center;
}
.article {
  border: 0px solid black;
  width: auto;
}
.p {
  text-align: center;
}
.article_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  text-align: center;
}
.ai_image {
  border-radius: 0.6rem;
  margin-top: 1rem;
  width: 11rem;
}
.cards_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0em 2em;
  width: 60rem;
  margin-right: 0rem;
  margin-left: 11rem;
  margin-top: 2rem;
}
